---
- name: Install & Configure PostgreSQL
  hosts: appservers
  become: true

  vars:
    db_user: appuser
    db_password: apppassword
    db_name: realestate

  tasks:

    - name: Install PostgreSQL
      apt:
        name: postgresql
        state: present
        update_cache: yes

    - name: Ensure PostgreSQL is running
      service:
        name: postgresql
        state: started
        enabled: yes

    - name: Create PostgreSQL user
      shell: |
        sudo -u postgres psql -tc "SELECT 1 FROM pg_roles WHERE rolname='{{ db_user }}'" | grep -q 1 \
        || sudo -u postgres psql -c "CREATE USER {{ db_user }} WITH PASSWORD '{{ db_password }}';"

    - name: Create database
      shell: |
        sudo -u postgres psql -tc "SELECT 1 FROM pg_database WHERE datname='{{ db_name }}'" | grep -q 1 \
        || sudo -u postgres psql -c "CREATE DATABASE {{ db_name }} OWNER {{ db_user }};"

    - name: Enable password authentication
      replace:
        path: /etc/postgresql/14/main/pg_hba.conf
        regexp: '^local\s+all\s+postgres\s+peer'
        replace: 'local all postgres md5'

    - name: Restart PostgreSQL
      service:
        name: postgresql
        state: restarted
