[Unit]
Description=Spring Boot Real Estate App
After=network.target

[Service]
WorkingDirectory={{ project_root }}
ExecStart=/usr/bin/java -jar {{ project_root }}/target/{{ app_jar }}
Restart=always
User={{ ansible_user }}
EnvironmentFile={{ spring_env_file }}

[Install]
WantedBy=multi-user.target
